body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  /* 'Open Sans', sans-serif; */
}

form {
  max-width: 500px;
  margin: 0 auto;
}

button {
  color: #777;
  background: #fff;
  padding: 4px 12px 4px 12px;
  border: solid #777 2px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

button:hover {
  color: #000;
  border: solid #000 2px;
  text-decoration: none;
}

input,
textarea {
  font-size: 0.8rem;
  border: 1px solid #ddd;
  background: #fff;
  padding: 0.5rem 0.7rem;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

input:focus,
textarea:focus {
  border-color: #777;
  outline: none;
}

/* .box--post--content a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #bbb;
} */

.box--post--content a:hover {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #555;
}

h1,
h2,
h3 {
  letter-spacing: 1px;
  font-weight: 100;
  margin-bottom: 20px;
}

.navbar-brand {
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  text-transform: none;
}
.navbar-brand .sub-title {
  margin: 0 0 0 5px;
}

.navbar {
  text-transform: uppercase;
}

.nav-item {
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.navbar-toggler {
  border: 0;
}

.navbar-toggler-right {
  right: 0rem;
}

.portfolio-img {
  width: 100%;
  max-height: 250px;
  display: block;
  object-fit: cover;
}

.project-img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Image Hover Effect */

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect .overlay-text {
  font-size: 1.3rem;
  font-family: "Crimson Text", sans-serif;
  font-weight: 300;
  color: #000;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

.hovereffect:hover .overlay-text {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0;
  filter: alpha(opacity=0);
}
.page-nav {
  width: 100%;
  margin: 2rem ​auto 8rem;
  text-align: center;
}
.page-nav a,
span {
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0 10px;
  color: #000;
}
.page-nav .page-number {
  width: 30px;
  height: 30px;
  font-size: 1rem;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  text-decoration: none;
}
.page-nav .page-number.current {
  /* background: #ddd; */
  font-weight: bold;
  border-bottom: 2px solid #000;
}
.page-nav .extend {
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  text-decoration: none;
  box-sizing: border-box;
}

.custom-navbar {
  position: absolute;
  right: 0rem;
  cursor: pointer;
}

.custom-navbar:hover,
.custom-navbar:focus {
  border: none;
  outline: none;
}

.box--photo-card {
  position: relative;
}
.box--photo-card .link--photo {
  display: block;
  position: relative;
  padding-top: 100%;
}
.box--photo-card .link--photo .box--photo-card-info {
  transition: opacity 0.5s ease;
}

.box--photo-card .box--photo-card-info {
  /* width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    margin: 0;
	top: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center; */

  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}
.box--photo-card .box--photo-card-info .box--photo-card-title {
  /* opacity: 1; 
	transition:opacity .5s ease;
    left: 0;
    top: 0;
    margin: 0;
	line-height: 1;
	padding: 10px;
    background-color: rgba(0,0,0,0.6);
	color: #fff;
	max-width: 90%; */

  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  display: block;
  margin: 0;
}

.box--photo-card
  .box--photo-card-info
  .box--photo-card-title
  .text--photo-card-title,
.box--photo-card
  .box--photo-card-info
  .box--photo-card-title
  .text--photo-card-date {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0;
  text-align: center;
  line-height: 1.2;
  color: #fff;
}
.box--photo-card
  .box--photo-card-info
  .box--photo-card-title
  .text--photo-card-title {
  font-weight: 200;
}
.box--photo-card
  .box--photo-card-info
  .box--photo-card-title
  .text--photo-card-date {
  font-size: 16px;
  font-weight: 200;
}
.box--photo-card
  .box--photo-card-info
  .box--photo-card-title
  .text--photo-card-title
  + .text--photo-card-date {
  margin-top: 10px;
}
/* .box--photo-card .link--photo:hover .box--photo-card-title,
.box--photo-card .link--photo:focus .box--photo-card-title {
	opacity: 1;
} */
/* .box--photo-card .link--photo:hover .image--thumb,
.box--photo-card .link--photo:focus .image--thumb {
	background-size: 200%;
} */

.box--photo-card .box--link--photo {
  background-color: transparent;
  outline: 1px solid #000;
  /* box-shadow: 0 30px 60px -10px rgb(0 0 0 / 30%),
    0 18px 36px -18px rgb(0 0 0 / 33%); */
  margin-bottom: 30px;
}
.box--photo-card .box--link--photo .link--photo {
  transition: transform 0.3s var(--ease-out-quad),
    box-shadow 0.3s var(--ease-out-quad);
}
.box--photo-card .box--link--photo .link--photo .image--thumb {
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  /* box-shadow: 0 30px 60px -10px rgb(0 0 0 / 30%),
    0 18px 36px -18px rgb(0 0 0 / 33%); */
}
.box--photo-card .box--link--photo .box--photo--info {
  padding: 10px;
}
.box--photo-card .post--title {
  font-size: 21px;
  word-break: keep-all;
  line-height: 1.333;
  font-weight: bold;
  color: #000;
  transition: color 0.3s ease-in-out;
  text-overflow: ellipsis;
  overflow-wrap: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
  overflow: hidden;
}
.box--photo-card .post--summary {
  text-overflow: ellipsis;
  overflow-wrap: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
  overflow: hidden;
  font-size: 15px;
  margin-bottom: 30px;
  color: #73737d;
  min-height: 45px;
}
/* .box--photo-card .post--date { */
/* color: #b2b2b2; */
/* opacity: 0.33; */
/* margin: 0; */
/* } */
.box--photo-card .box--item-attributes {
  padding-right: 100px;
}
/* .container-fluid .row img {
  line-height: 1;
  max-height: 880px;
  max-width: 100%;
} */

.google-map {
  width: 100%;
  height: 450px;
  margin-bottom: 1rem;
}

.button--top {
  display: block;
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
  width: 50px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}
.button--top.hide {
  display: none;
}

.button--top:hover,
.button--top:focus {
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 1);
}
.box--video-container {
  margin-bottom: 1rem;
  width: 100%;
}

.box--media-layout p {
  margin: 0;
  /*margin: 10px 0;*/
}

.box--media-layout p img {
  margin-bottom: 1rem !important;
  /*display: block;*/
}
.box--media-layout br {
  display: none;
}
.box--media-layout:after {
  content: "";
  display: block;
  clear: both;
}
.box--media-layout.col2 img {
  width: 50%;
  box-sizing: border-box;
  margin: 0;
}
.box--media-layout.col2 img:nth-child(odd) {
  padding-right: 0.5rem;
}
.box--media-layout.col2 img:nth-child(even) {
  padding-left: 0.5rem;
}

.box--media-layout.col2 p img {
  float: left;
}
.box--media-layout.col2 p:after {
  content: "";
  display: block;
  clear: both;
}

.box--media-layout.col3 {
  width: calc(100% + 1rem);
}
.box--media-layout.col3 img {
  width: calc(100% / 3);
  box-sizing: border-box;
  padding: 0 1rem 0 0;
}

.box--media-layout.col3 img:nth-child(1) {
  /*padding-right: 0.5rem;*/
  /*margin-left:-0.5rem;*/
}
.box--media-layout.col3 img:nth-child(2) {
  /*padding-right: 0.5rem;*/
}
.box--media-layout.col3 img:nth-child(3) {
  /*padding-left: 0.5rem;*/
  /*margin-right:-0.5rem;*/
  /*margin-right: -1rem;*/
  /*text-align:right;*/
}
blockquote {
  color: #888;
  padding-left: 20px;
  position: relative;
  line-height: 1;
  display: inline-block;
  vertical-align: top;
}
blockquote p {
  margin: 0;
  line-height: 1.2;
}
blockquote:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0px;
  bottom: 0px;
  width: 4px;
  background: #888;
}

.site-heading {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.site-heading h1 {
  margin: 0;
}

.text--post-end {
  margin-top: 50px;
  /* text-align: right; */
}

.text--index-title {
  max-width: 650px;
  font-weight: 600;
  margin-top: 2em;
  margin-bottom: 3em;
  font-size: 52px;
  line-height: 1.15;
}

.container-fluid .box--post--list {
  margin-bottom: 4rem !important;
  /* padding-right: 2rem; */
}

#view--home #container--contents,
#view--category #container--contents,
#view--tag #container--contents,
#view--default #container--contents {
  padding: 0 2rem;
}
#view--post.container-fluid .row img {
  /* line-height: 1;
  max-height: max-content;
  max-width: 1200px;
  width: 100%;
  display: block; */
}
#view--archive {
}
#view--category {
}
#view--tag {
}

.view--root {
  padding: 0 0 100px 0;
  margin: 0 auto;
  /* margin: 2rem auto !important; */
  /* padding: 0 2rem; */
  max-width: 1920px;
}

.view--root #container--contents {
  /* max-width: 2000px; */
  /* margin:0 auto; */
  margin: 0;
  /* justify-content: space-between; */
  height: 100%;
}

#view--default {
  height: calc(100vh - 64px);
}

.view--root #container--contents .box--col.first {
  margin: auto 0;
}

.view--root #container--contents .content--align--left,
.view--root #container--contents .content--align--left .media_desc {
  /* text-align: left; */
  text-align: center;
}
.view--root #container--contents .content--align--right,
.view--root #container--contents .content--align--right .media_desc {
  /* text-align: right; */
  text-align: center;
}
.view--root #container--contents .content--align--center,
.view--root #container--contents .content--align--center .media_desc {
  text-align: center;
}

.view--root #container--contents .content--align--left .text--post-end {
  text-align: right;
}

/* #view--post #container--contents > div {
	padding-left:0 !important;
	padding-right:0 !important;
} */

.view--root #container--pagination {
  margin-top: 40xp;
}

.view--root #container--header #box--navi {
  padding: 0;
}

.view--root #container--header {
  margin: 2rem auto 30px;
  padding: 0 2rem;
}

.view--root #container--header .link--title {
  margin: 0 !important;
}

.view--root #container--header .link--title .sub-title {
  color: #73737d;
}

.view--root #container--contents > div {
  /* padding-left: 0 !important;
  padding-right: 0 !important; */
  padding-left: 0;
  padding-right: 0;
  /* outline: 2px solid red; */
}
#view--default #container--contents .box--page {
  padding-bottom: 65px;
}

.view--root #box--category,
.view--root #box--tag {
  margin: 0;
  width: 100%;
}
.view--root #box--category .text--title-category,
.view--root #box--tag .text--title-tag {
  font-weight: bold;
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  word-break: keep-all;
  line-height: 1.4;
  font-size: 1.5rem;
}
.view--root #box--category .box--tag-category .link--preview,
.view--root #box--tag .box--tag-category .link--preview {
  font-size: 28px;
  font-weight: 100;
  display: inline-block;
  padding: 5px 10px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
.view--root #box--category .box--tag-category .link--preview:hover,
.view--root #box--category .box--tag-category .link--preview:focus,
.view--root #box--tag .box--tag-category .link--preview:hover,
.view--root #box--tag .box--tag-category .link--preview:focus {
  background-color: #0275d8;
  color: #fff;
  text-decoration: line-through;
}
.view--root #box--category .box--tag-category .link--preview:last-child,
.view--root #box--tag .box--tag-category .link--preview:last-child {
  margin-right: 0;
}
.box--cateogry--list {
  margin-bottom: 10px;
}
.box--tag--list {
  margin-bottom: 2px;
}
.text--category {
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  line-height: 1em;
  vertical-align: top;
  display: inline-block;
}

.text--category:hover,
.text--category:focus {
  text-decoration: none;
  color: #5fe8ff;
}

.text--post--date {
  font-size: 16px;
  color: #73737d;
  opacity: 0.33;
}

#view--post #container--contents .box--post--thumb {
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
  padding-top: 50%;
  background-size: cover; /*contain;*/
  background-position: center;
  background-repeat: no-repeat;
}
/* #view--post #container--contents .box--post--header { */
/* margin-bottom: 20px;
  width: 100%; */
/* padding: 0 2rem; */
/* } */
/* #view--post #container--contents .box--post--header h1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
  margin-bottom: 30px;
} */

#view--post #container--contents .box--post--content {
}

#container--pagination {
  margin-top: 10px;
}
.view--root #container--contents .box--post--info {
  position: relative;
}
.view--root #container--contents .box--post--info:after {
  clear: both;
  display: block;
  content: "";
}

.view--root #container--contents .box--post--info .link--post {
  display: block;
}
.view--root #container--contents .box--post--info .link--post:after {
  clear: both;
  display: block;
  content: "";
}
.view--root #container--contents .box--post--info .link--post:hover,
.view--root #container--contents .box--post--info .link--post:focus {
  text-decoration: none;
}

.view--root #container--contents .box--post--info .box--post--additional-info {
  display: flex;
  justify-content: space-between;
}
.view--root
  #container--contents
  .box--post--info
  .box--post--additional-info
  .link--comment-count {
  text-decoration: none;
  display: block;
  line-height: 1;
  color: #b2b2b2;
  font-size: 14px;
}

.view--root
  #container--contents
  .box--post--info
  .box--post--additional-info
  .post--date {
  line-height: 1;
  font-size: 14px;
  color: #b2b2b2;
}

#disqus_thread {
  width: 100%;
  margin-top: 100px;
}

.box--page {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.box--page .box--col {
  flex: 0 1 50%;
}

.box--page .box--col.second {
  margin: auto 0;
  text-align: center;
}

.box--page .box--col.second p {
  /*display: inline-block;*/
  /*background: #000;*/
  /*color: #fff;*/
  /*padding: 5px 10px;*/
}

/* #disqus_thread {
  padding: 0 2rem !important;
} */

@media (min-width: 640px) {
  /* #container--contents {
    background: red;
  } */
  .col-md-3 {
    flex: 0 0 47.5%;
    max-width: 47.5%;
    margin-right: 5%;
  }
  .col-md-3:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 31%;
    max-width: 31%;
    margin-right: 3.5%;
  }
  .col-md-3:nth-child(2n) {
    margin-right: 3.5%;
  }
  .col-md-3:nth-child(3n) {
    margin-right: 0;
  }
  /* .container-fluid .box--post--list .box--post--info {
    padding: 0 15px;
  } */
  .navbar-container {
    /* padding-left: 25px;
    padding-right: 25px; */
    margin: 1rem !important;
  }

  .box--post--list {
    padding: 0;
  }

  .view--root #container--header #box--navi {
    /* margin-bottom: 20px; */
  }
}

@media (min-width: 1024px) {
  .col-md-3 {
    flex: 0 0 23%;
    max-width: 23%;
    margin-right: 2.65%;
  }
  .col-md-3:nth-child(2n),
  .col-md-3:nth-child(3n) {
    margin-right: 2.65%;
  }
  .col-md-3:nth-child(4n) {
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  #view--post #container--contents,
  #view--category .container,
  #view--tag .container {
    max-width: 1920px;
    margin: 0 auto;
  }
}

@media (min-width: 703px) {
  #view--post.container-fluid .row img {
    /* max-height: 880px !important;
    max-width: 100% !important;
    width: auto !important;
    margin: 0 auto 0.5rem !important; */
  }
}
@media (max-width: 991px) {
  .box--post--list {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .google-map {
    width: 100%;
    height: 250px;
  }
  .text--index-title {
    margin: 20px 0 60px;
    font-size: 50px;
  }

  .navbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .view--root {
    margin: 0 auto 1.5rem;
  }

  .view--root #container--header {
    /* margin-bottom: 30px;
    margin-top: 0; */
  }

  .view--root #container--header #navbarCollapse {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .view--root #container--header #box--navi {
    /* margin-bottom: 10px; */
  }

  .view--root #container--header .custom-navbar {
    right: -1.5rem;
  }

  /* .view--root #box--category .text--title-category,
  .view--root #box--tag .text--title-tag {
    font-size: 2rem;
  } */
  .view--root #box--category .box--tag-category .link--preview,
  .view--root #box--tag .box--tag-category .link--preview {
    font-size: 22px;
  }

  .view--root #container--header .link--title {
    padding-right: 40px;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .view--root #container--contents .box--post--list {
    margin-bottom: 2.5rem !important;
  }

  .box--page {
    flex-direction: column;
  }
  .box--page .box--col {
    flex: 0 1 50%;
  }

  .box--page .box--col.second {
    text-align: center;
    margin: 5rem 0;
  }

  .box--media-layout.col3 {
    width: 100%;
  }
  .box--media-layout.col2 img,
  .box--media-layout.col3 img {
    float: none !important;
    display: block;
    width: 100%;
    padding: 0 !important;
    margin-bottom: 1rem;
  }

  .box--media-layout img:last-child {
    margin-bottom: 0;
  }
}
/* @media (max-width: 575px) { */
@media (max-width: 639px) {
  .box--photo-card .text--photo-card-date {
    font-size: 14px;
  }

  .text--index-title {
    font-size: 45px;
  }

  .view--root #container--header,
  #view--home #container--contents,
  #view--default #container--contents,
  #view--post #container--contents,
  #disqus_thread {
    padding: 0 1.5rem;
  }
}

#view--home {
  margin-bottom: 60px !important;
}

.force--content-wide {
  width: calc(100% + 3rem) !important;
  margin-left: -1.5rem !important;
}

/* @layout BY HEADER */
@media (max-width: 767px) {
  .view--root #container--header {
    margin: 20px auto 30px;
    padding: 0 2rem;
  }
}
